/* Вибираємо елемент canvas для стилізації */
canvas {
    /* Додаємо невелику тінь: 
       0 0 — без зміщення по горизонталі/вертикалі, 
       5px — радіус розмиття, 
       black — колір тіні */
    box-shadow: 0 0 5px black;
    
    /* Додаємо відступ зверху, щоб полотно не липло до краю браузера  */
    display: block;
    margin: 50px auto; /* Ставимо гру по центру сторінки */
}



